html, body, #root {
  height: 100%;
  color-scheme: dark; 
}


body {
  font-size: 18px;

  margin: 0;
  padding: 50px;
  background: #212429;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%; 
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
}


