html, body, #root {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color-scheme: dark; 
  box-sizing: border-box;
}

#root {
  padding: 0px 50px;
}


body {
  font-size: 18px;

  background: #212429;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%; 
  /* min-height: 100vh; */
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: stretch;
}


